<phpunit bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="Pin Payments Test Suite">
      <directory>tests/TestCase</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">src</directory>
    </whitelist>
  </filter>
</phpunit>
