@import url('https://fonts.googleapis.com/css?family=Archivo:400,400i,700|Chivo:700,900');

@import 'variables';
@import 'framework/mixins';
@import 'framework/normalize';
@import 'framework/base';

// Elements
@import 'framework/typography';
@import 'framework/asian';
@import 'framework/tables';
@import 'framework/buttons';
@import 'framework/forms';
@import 'framework/labels';
@import 'framework/codes';
@import 'framework/media';

// Layout
@import 'framework/layout';
@import 'framework/hero';
@import 'framework/navbar';

// Components
@import 'framework/accordions';
@import 'framework/avatars';
@import 'framework/badges';
@import 'framework/breadcrumbs';
@import 'framework/bars';
@import 'framework/cards';
@import 'framework/chips';
@import 'framework/dropdowns';
@import 'framework/empty';
@import 'framework/menus';
@import 'framework/modals';
@import 'framework/navs';
@import 'framework/pagination';
@import 'framework/panels';
@import 'framework/popovers';
@import 'framework/steps';
@import 'framework/tabs';
@import 'framework/tiles';
@import 'framework/toasts';
@import 'framework/tooltips';

// Utility classes
@import 'framework/animations';
@import 'framework/utilities';

// Experimentals
@import 'framework/off-canvas';

// SITE CHANGES
h1 {
    padding-bottom: 15px;
    border-bottom: $border-width dotted $border-color;

    font-family: $heading-font-family;
    color: $heading-font-color;
    font-weight: 900;
    font-size: 1.8rem;

    &::after {
        content: '.';
    }
}

h2 {
    font-size: 1.5rem;
    color: $heading-font-color;
    padding-bottom: 10px;
    border-bottom: $border-width dotted $border-color;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1.1rem;
}

h2 {
    margin-top: 30px;
}

h3, h4, h5, h6 {
    margin-top: 15px;
}

del {
    color: rgba(0, 0, 0, 0.2);
}

ul li {
    list-style-type: square;
    margin-top: 0.15em;
}

hr {
    border: 0;
    border-bottom: $border-width solid $border-color;
}

a.active {
    color: #ffd416;
    text-decoration: none;
}

.off-canvas {
    .off-canvas-content {
        padding: 30px !important;
        padding-left: 330px !important;

        a {
            color: #bd9247;
        }

        img {
            max-width: 100%;
            border: $border-width solid $border-color;
            padding: 1px;
        }
    }

    .off-canvas-sidebar {
        width: 300px;
        position: fixed !important;
        padding: 1rem;

        .sidebar-header {
            display: block;
            padding: 20px;
            color: #fff;
            font-family: $heading-font-family;
            font-weight: 700;
            margin: -1rem -1rem 1rem;
            background: $bg-color-dark;
        }

        strong {
            color: #fff;
        }

        & > div {
            margin-bottom: 0.4rem;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                list-style: none;
                margin-top: 0;
                font-size: 0.9em;
            }
        }
    }
}

span.trello-label {
    display: block;
    padding: 5px;
    color: #fff;
    min-width: 140px;
    border-radius: 8px;
    text-align: center;
}
